:root {
    --mod-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
/*   used for body   */
    --light-gray: hsl(0, 0%, 81%);  

    --light-grayish-blue: hsl(210, 46%, 95%);

    --body-font-size: 13px;

}

.barlow-semi-condensed-medium {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.barlow-semi-condensed-semibold {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    font-size: var(--body-font-size);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--light-grayish-blue);
}

.card {
    margin: 0.75em;
    padding: 1.75em;
    border-radius: 10px;
    color: var(--white);
}
.card>q {
    opacity: 70%;
}
.daniel {
    
    background: var(--mod-violet) url('../images/bg-pattern-quotation.svg') no-repeat 80% 3% fixed;
}
.john {
    background-color: var(--very-dark-grayish-blue);
}
main {
    display: grid;
    grid: repeat(5, 1fr) / 1fr
}

.profile-head {
    display: flex;
    align-items: center;
}

.profile-head>img{
    border-radius: 100px;

}
.profile-head>.daniel-pic {
    border: 2px solid rgba(256, 256, 256, 0.2);
}
.profile-text>p {
    margin: 0;
    padding-inline-start: 1em;
}
.profile-text>.title {
    opacity: 50%;
}

.p-title {
    font-size: 1.75em;
    margin-block-end: 0.75em;
}
